.cover {
  position: relative;
  width: 100%;
  margin: 15px 0px;
  padding: 35px 10px;
  background-color: white;
  border-radius: 10px;
}

.rangePost {
  margin: 30px 0px;
}

.rangeTitle {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.form-range {
  width: 100%;
  color: aquamarine;
}

.question {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: black;
  opacity: 0.5;
}
