.profile {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  margin: 8px 0px;
  box-shadow: 0px 2px 6px black;
  border-radius: 10px;
  background-color: #afb3eb;
  text-align: left;
}

.profilePhoto {
  position: relative;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.profileName {
  position: absolute;
  top: 10px;
  left: 80px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.profileOnline {
  position: absolute;
  top: 35px;
  left: 80px;
  font-size: 13px;
  font-weight: 500;
  color: black;
  opacity: 0.6;
}

.profileBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 13px;
  font-size: 16px;
  border-radius: 100px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
  background-color: #2e284b;
  color: #ebafd4;
}
.profileBtn:hover {
  cursor: pointer;
  background-color: #ebafd4;
  color: #2e284b;
}
